body{
    font-size: 20px;
}
#header-light, #header-dark{
    padding: 10px 30px 10px 30px;
 }

#wrapper{
    max-width: 95%;
    padding: 0px 10px 0px 10px;
}
 
input[type="checkbox"]{
  width: 1.2em; /*Desired width*/
  height: 1.2em; /*Desired height*/
}


.eventinfo{
    width: 80%;
    padding: 10px;
}
.placeinfo{
    width: 80%;
    padding: 10px;
}

.everydaysevent{
    width: 100%;

}

input[type="date"]{
    width: 160px;
    height: 35px;
}
button{
    width: 150px;
    height: 35px;
}
.contactarea{
    width: 100%;
}

.dp{
    text-align: right;
}
#todaysevent{
    width: 100%;
}

#tomorrowsevent{
    width: 100%;
}

.searchbox, .searchboxfsearch{
    width: 90%;
    margin: 10px auto;
}

#footer{
    height: 150px;
    font-size: 14px;
}